/* 公共样式文件 */
/* 左浮动 */
.lf{
    float: left;
}
/* 右浮动 */
.rf{
    float: right;
}
/* 清浮动 */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* 版心 */
.warp{
    width: 1200px;
    margin: auto;
}
/* 文字颜色 */
.colorfff{
    color: #fff;
}
/* 公用头部样式和页脚样式 */
/* 头部 */
/* 欢迎标题 */
#header>.welcome{
    width: 100%;
    height: 45px;
    background: #252525;
    line-height: 45px;
}
#header>.welcome img{
    margin-left: 20px;
}
/* logo和导航 */
#header>.logoAndNav{
    width: 100%;
    height: 100px;
}
/* 版心 */
#header>.logoAndNav>.warp{
    height: 100px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 0 center;
}
/* 导航 */
#header>.logoAndNav>.warp a{
    color: #252525;
    font-size: 16px;
    margin: 0 30px;
    display: inline-block;
    height: 40px;
   
    margin-top: 32px;
}
#header>.logoAndNav>.warp a:hover{
    text-decoration: none;
}
#header>.logoAndNav>.warp a:first-child{
    background-image: url("../images/nav_move.jpg");
}
/* 页脚 */
#footer{
    width: 100%;
    height: 378px;
    background-color: #141414;
    padding-top: 70px;
}
/* 文字信息 */
#footer>.textInfo{
    width: 100%;
    height: 194px;
    /* background-color: green; */
}
#footer>.textInfo .listBox{
    width: 400px;
    height: 194px;
    /* background-color: greenyellow; */
    float: left;
    color: #818388;
    font-size: 16px;
}
#footer>.textInfo .listBox:last-child{
    padding-left: 50px;
    width: 350px;
}
#footer>.textInfo .listBox>div{
    line-height: 43px;
}
#footer>.textInfo .listBox img{
    margin-bottom: 28px;
}
#footer>.textInfo .listBox .icons{
    display: inline-block;
    width: 24px;
    height: 22px;
    background-image: url("../images/icon.jpg");
    position: relative;
    top: 4px;
    left: 3px;
}
#footer>.textInfo .listBox .icon2{
    background-position: 0 -40px;
}
#footer>.textInfo .listBox .icon3{
    background-position: 0 -80px;
}
#footer>.textInfo .listBox .topTitle{
    font-size: 20px;
    color: #fff;
    height: 44px;
    background-image: url("../images/line_bg.png");
    text-align: center;
    line-height: 44px;
    width: 80px;
    margin-bottom: 35px;
}
#footer>.textInfo .listBox>ul>li{
    width: 50%;
    float: left;
    line-height: 40px;
}
#footer>.textInfo .listBox>ul>li:nth-child(2n){
    text-align: right;
}
#footer>.textInfo .listBox>ul>li>a{
    color: #818388;
    font-size: 14px;
}
#footer>.textInfo .listBox>ul>li>a:hover{
    text-decoration: none;
}
#footer>.textInfo .listBox .searchBar{
    margin-bottom: 29px;
}
#footer>.textInfo .listBox .searchBar input{
    width: 221px;
    height: 47px;
    border: none;
    outline: none;
    background: #333;
    text-indent: 5px;
    float: left;
}
#footer>.textInfo .listBox .searchBar button{
    width: 102px;
    height: 47px;
    border: 1px solid #3aa27f;
    background: #3aa27f;
    font-size: 16px;
    color: #fff;
    float: left;
}
#footer>.textInfo .listBox .textLine a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/fenxiang.png");
    position: relative;
    top: 9px;
}
#footer>.textInfo .listBox .textLine .icon{
    background-position: -43px 0;
}
/* 底部说明 */
#footer{
    position: relative;
}
#footer>.messages{
    width: 100%;
    height: 76px;
    background-color: #000;
    line-height: 76px;
    position: absolute;
    bottom: 32px;
    left: 0px;
}
#footer>.messages>.warp{
    font-size: 12px;
    color: #818388;
    text-align: center;
}